html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

#viewport {
  width: 640px;
  height: 256px;
  position: relative;
  overflow-x: auto;
  background-image: url(../../images/images/water0.png);
}

#ports {
  
  margin-top: 96px;
  display: flex;
  justify-content: space-around;
}

#ports > .port {
  width: 64px;
  height: 32px;
  background-image: url(../../images/images/port.png);
}

#ship {
  background-image: url(../../images/images/ship.png);
  width: 128px;
  height: 60px;
  position: absolute;
}

#sailbutton {
  width: 100%;
  height: 50px;
  bottom: 0px;
  background-color: brown;
  position: absolute;
}

#message {
  
}
